name: Greetings

on: [pull_request_target, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/first-interaction@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          issue-message: 'Brawo! Wykonałeś pierwszy task w naszym projekcie KaroRoad. Tak trzymaj!'
          pr-message: 'Dziękujemy za Twój pierwszy Pull Request w naszym repozytorium KaroRoad! Oby tak dalej!'
